<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Dorid registro</title>
</head>
<body>
    <header>
        <%- include('../partials/header')%>
    </header>

    <main class="main-registro">
        <h3 class="titulo-registro">Crea tu cuenta</h3    >
        <h5 class="titulo-registro">Los campos marcados con * son requeridos</h5>
        
        <% if(locals.errors){
            errors.forEach(errors => { %>
                <p class="errorsForm"> <%= errors.msg %></p>
         <% })
        } %> 
        <% if(locals.msg != ''){
            console.log('msg: ',locals.msg)%>
            <p class="errorsForm"> <%= locals.msg %></p>
        <% } %> 
        <% console.log('bodyData: ',locals.bodyData) %> 
        <% console.log('-----------') %> 
               
        <form action="/users/crear" method="POST" enctype="multipart/form-data" >
        
            <label for="nombre" class="label">Nombre *</label>
                <input class="campo-input" type="text" name="nombre" placeholder="Ingrese su nombre">
            <label for="apellido" class="label">Apellido *</label>
                <input class="campo-input" type="text" name="apellido" placeholder="Ingrese su apellido"
                value="<% locals.bodyData && locals.bodyData.apellido ? locals.bodyData.apellido : ''%>">
            <label for="" class="label">Teléfono *</label>
            <div class="telefono">
                <input class="codigo-pais" type="number" name="codigo-pais" placeholder="Código país">
                <input class="nro-telefono" type="number" name="telefono" placeholder="Teléfono">
            </div>
            <label for="empresa" class="label">Empresa a la que pertenece</label>
                <input class="campo-input" type="text" name="empresa" placeholder="Empresa">

            <label for="avatar" class="label">Seleccione una imagen de perfil *</label>
                <input class="campo-input" type="file" name="avatar" accept= ".jpg , .png">

            <label for="usuario" class="label">Usuario (email) *</label>
                <input class="campo-input" type="email" name="email" placeholder="Ingrese su email"
                value="<% locals.bodyData && bodyData.email ? bodyData.email : ''%>">
            <label for="password" class="label">Contraseña *</label>
                <input class="campo-input" type="password" name="password" placeholder="Ingrese su contraseña">
            <label for="confPassword" class="label">Confirme su contraseña *</label>
                <input class="campo-input" type="password" name="confPassword" placeholder="Confirme su contraseña">

<!--           <div class="g-recaptcha" bodyData-sitekey="your_site_key"></div>
               <input type="submit" value="Submit">-->

            <div class="botonera">
                <button class="button-registro" type="submit">Aceptar</button>
                <button class="button-registro" type="reset">Borrar</button> 
            </div>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>
</body>
</html>